*,
html {
    scroll-behavior: smooth !important;
}

body {
    background-color: rgb(210, 162, 183);
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-weight: 800;
    margin: 0%;
}

p {
    margin-left: 5px;
}

#hello {
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: rgb(97, 36, 62)
}

.introduction {
    text-align: center;
}

#login {
    text-align: right;
}

#login input {
    margin: 5px;
    border-radius: 8px;
}

#login div input {
    cursor: pointer;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
}

#login div input:hover {
    opacity: 0.8;
}

#czesio-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#quot {
    text-align: center;
}

table {
    border: 2px solid rgb(97, 36, 62);
    border-collapse: collapse;
    margin-left: 5px;
}

table td {
    border: 1px solid rgb(97, 36, 62);
    padding: 10px;
    text-align: center;
}

caption,
table th {
    padding: 10px;
}

form {
    padding: 5px;
}

.poll-question {
    color: rgb(97, 36, 62);
    font-weight: bold;
    font-style: italic;
}

.submit {
    background-color: rgb(134, 82, 104);
    border-radius: 5px;
    padding-block: 2px;
    padding-inline: 20px;
    cursor: pointer;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
}

.submit:hover {
    opacity: 0.8;
}

fieldset {
    margin-bottom: 10px;
    padding: 10px;
    width: 400px;
}

form.poll input,
label {
    cursor: pointer;
}

form.poll>div {
    width: 425px;
    text-align: right;
}

a:link,
a:visited {
    text-decoration: none;
    color: rgb(97, 36, 62)
}

a:hover {
    opacity: 0.5;
}

#activityList {
    list-style-image: url(../images/catface.png)
}

.menu {
    background-color: rgb(134, 82, 104);
    text-align: center;
    padding: 20px;
    width: 200px;
    display: inline-block;
    position: relative;

}

a.menu:link,
a.menu:visited {
    color: black;
}

a.menu:hover {
    opacity: 0.8;
}

#menuDiv {
    text-align: center;
    background-image: url(../images/background.jpg);
    padding: 20px;
    border-style: solid none solid none;
    position: sticky;
    top: 0%;
    display: inline-block;
    width: 1865px;

}

#menuDiv ul {
    list-style-type: none;
}

#menuDiv li {
    display: inline-block;
}

.submenu {
    background-color: rgb(210, 162, 183);
    ;
    display: none;
    position: absolute;
    padding: 20px 0;
    width: 240px;
    /* padding-inline-start: 0; */
}

.submenu a {
    display: block;
    width: 200px;
    padding: 20px;
}

#menuDiv ul li:hover .submenu {
    display: block;
}

#top-button {
    background-color: aliceblue;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;

}